body {
	background-color: #f9f7fe;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 600px;
	padding: 20px;
}

.form-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	margin-bottom: 30px;

	background-color: white;
	box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
	border-radius: 10px;
}

form {
	display: flex;
}

small {
	opacity: 0.6;
	margin-left: 10px;
}

a {
	color: #885df1;
	text-decoration: none;
}

img {
	display: block;
	width: 200px;
	margin: 0 auto;
}

header {
	margin-bottom: 30px;
}

h1 {
	margin-top: 0;
	text-align: center;
	font-weight: 800;
	font-size: 36px;
	line-height: 1.5;
	color: #272044;
}

.instruction {
	padding: 16px;
	border: 1px solid rgba(39, 33, 66, 0.5);
	width: 80%;
	font-size: 16px;
	border-radius: 50px;
	line-height: 20px;
	color: #272044;
}

button {
	margin-left: 10px;
	background: #885df1;
	color: white;
	border: none;
	width: 150px;
	font-size: 16px;
	border-radius: 50px;
	padding: 14px 24px;

	cursor: pointer;
}

.poem-output {
	font-size: 16px;
	background-color: #fff;
	padding: 20px;
	line-height: 2;
	border-left: 3px solid #885df1;
	box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
}

footer {
	text-align: center;
	font-size: 13px;
	margin-top: 30px;
}

#poem p {
	margin: 0;
}

.hidden {
	display: none;
}

.generation-text {
	font-size: 16px;
	background-color: #fff;
	padding: 20px;
	line-height: 2;
	box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
	border-radius: 10px;

	p {
		font-weight: 600;
		text-align: center;
	}

	img {
		width: 100px;
	}
}
